# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pelismax
DB_PORT=3306

# JWT
JWT_SECRET=tu_clave_secreta_aqui
JWT_EXPIRE=7d

# External APIs
MOVIES_API_URL=https://devsapihub.com/api/movies
MOVIES_API_KEY=tu_api_key_aqui

# Email (Mailtrap)
MAILTRAP_TOKEN=tu_token_aqui
MAILTRAP_SENDER_EMAIL=noreply@pelismax.com

# Frontend
FRONTEND_URL=http://localhost:5173
